.env
.vscode/

venv/
backend/venv/

node_modules/
frontend/node_modules/

.next/
frontend/.next/

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.hypothesis/

dist/
build/

.DS_Store
.idea/